.container {
  margin-top: 40px;
  width: 90%;
}

.container-text {
  margin-top: 40px;
  width: 800px;
  display: flex;
  justify-content: center;
}

.container h1 {
  color: $blue;
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
}
