.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: top;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.navbar h2 {
  color: $red;
  font-family: $headers-font;
}

.nav-item {
  color: grey;
}

.navbar-nav {
  margin-right: 0px;
}

@media(max-width: 768px) {
  .navbar h2 {
    font-size: 1em;
  }

  .dropdown-item {
    padding-right: 0px;
  }
}
